@import url('https://fonts.googleapis.com/css?family=Muli:400,800');
@import url('fonts/font-awesome.min.css');

/*--- General ---*/

body {
    color: #333333;
    font-family: 'Muli', sans-serif;
}

.navbar-light {
    background-color: transparent!important;
    z-index: 100; 
    padding-top: 2rem;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #fff!important;
}

.navbar-light .navbar-brand {
    padding: 0!important;
}

.navbar-nav .nav-link {
    padding-right: 0!important;
    padding-left: 0!important;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    transition: all 0.3s ease 0s;
}

.nav-link::after {
    content: '';
    display: block;
    margin-top: 0.1rem;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%; 
}

.navbar-brand {
    border-bottom: 0!important;
}

.nav-link {
    border-bottom: 0!important;
}

@media (max-width: 768px) {

    .navbar-brand {
        margin-left: 2rem;
    }

    .navbar-light {
        text-align: center;
    }

    .navbar-light .navbar-toggler, 
    .navbar-light .navbar-toggler-icon {
        display: none;
    }

}

.btn-secondary.focus, .btn-secondary:focus {
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,.5)!important;
    box-shadow: 0 0 0 0 rgba(255,255,255,.5)!important; 
}

a {
    color: #fe5f55;
    border-bottom: 1px dotted #fe5f55;
    font-weight: 800;
    transition: all 0.4s ease 0s;
}

a:hover,
a:focus,
a:active {
    color: #EA372E;
    border-bottom: 1px solid #EA372E;
    text-decoration: none;
    outline: 0;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    border-bottom: 1px solid #fff;
}

/*--- Side Branding ---*/

.rotated-text {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    color: #fe5f55;
    z-index: 1;
    font-weight: 800;
    position: fixed;
    top: 305px;
    left: -60px;
}

#text-line {
    margin-left: 5px;
    margin-bottom: 3px;
    width: 25px;
    border-top: 1px solid #fe5f55;
    display: inline-block;
}

@media (max-width: 768px) {

    .rotated-text {
        top: 220px;  
    }

}

/*--- Welcome section ---*/

.welcome-section {
    margin-bottom: 0;
    margin-top: -6rem;
    background-color: #00009C;
    border-radius: 0;
    color: #fff;
}

#title-color {
    color: #fe5f55;
}

@media (max-width: 992px) {

   .welcome-section {
        margin-top: -100px;
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

.title-welcome {   
    padding-top: 10rem;
    padding-bottom: 10rem;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.25;
}

.welcome-section-image {
    margin-top: 8rem;
    width: 250px;
    height: 250px;
}

.quote {
    margin-top: -4rem;
}

@media (max-width: 768px) {

    .title-welcome {
        padding-top: 7rem;
        padding-bottom: 2rem;
        font-size: 2rem;
    }

    .welcome-section-image {
        margin-top: 2rem;
        margin-bottom: 3rem;
        width: 200px;
        height: 200px;
    }

    .quote {
        margin-top: 0;
    }

}

/*--- About section ---*/

#section-about {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #F5F5F5;
}

.about-details-wrapper {
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.about-text {
    font-size: 1.2rem;
}

.counter-title {
    font-size: 3rem;
}

.projects-number {
    font-size: 4rem;
}

.media {
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 768px) {

    .about-details-wrapper {
        padding: 0 1rem 0 1rem;
    }

    .media {
        margin-bottom: 2rem;
    }

    .counter-title {
        font-size: 1.8rem;
    }

    .projects-number {
        font-size: 2.5rem;
    }

    #web-app-wrapper {
        margin-top: 3rem;
    }

}

/*--- Work section ---*/

#section-work {
    padding-bottom: 10rem;
}

.portfolio-details {
   padding-top: 10rem;
   padding-bottom: 5rem;
}

.portfolio-details-title {
    font-weight: 800;
    font-size: 3rem;
}

.portfolio-details-description {
    font-size: 1.2rem;
}

.portfolio-details-link {
    font-size: 1.2rem;
    line-height: 1rem;
}

.portfolio-image {
    padding-top: 10rem;
}

.portfolio-image img {
    width: 450px;
    height: 277px;
}

@media (max-width: 768px) {

    #section-work {
        padding-bottom: 5rem;
    }

    .portfolio-details {
        padding-top: 5rem;
        padding-bottom: 2.5rem;
    }

    .portfolio-details-title {
        font-size: 1.8rem;
    }

    .portfolio-details-description {
        font-size: 1rem;
    }

    .portfolio-image {
        padding-top: 2rem;
    }

    .portfolio-image img {
        width: 210px;
        height: 129px;
    }

}

/*--- Contact ---*/

#section-contact {
    background-color: #00009C;
    padding-top: 7rem;
    padding-bottom: 7rem;
    color: #fff;
}

#section-contact h2 {
    font-size: 2.5rem;
    line-height: 4rem;
}

@media (max-width: 768px) {

    #section-contact h2 {
        font-size: 1.2rem;
        line-height: 2.3rem;
    }

}

/*--- Footer section ---*/

.section-footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #F5F5F5;
}

.footer-copyrights {
    text-align: left;
}

.footer-social {
    text-align: right;
}

.footer-social a {
    font-size: 1.4rem;
    margin-right: 1rem;
    color: #333333;
    border-bottom: none;
}

.footer-social a:hover,
.footer-social a:active,
.footer-social a:focus {
    text-decoration: none;
    color: #9d9d9d;
}

@media (max-width: 576px) {

    .footer-copyrights,
    .footer-social {
        text-align: center;
    }

    .social {
       padding: 0;
    }

    .footer-social a {
        margin-right: 0.5rem;
    }

}